body {
   background-color: antiquewhite;
}
  .text {
  text-align: center;
 }
 h3 {
    text-align: center;
 }   
 .head {
   display: flex;
   position: relative;
   left: 500px;
   align-content:space-between ;
  border: 5px solid blue;
  border-radius: 15px;
  width: 900px;
  height: 500px;
 }
 .card-img-top-2 {
   height: 370px
 }
 
 