body {
   background-color: antiquewhite;
}
  .text {
  text-align: center;
 }
 h3 {
    text-align: center;
 }   
 div{
display: flex;
flex-wrap: wrap;
  gap:20px;
  justify-content: center;
 }
 
 .card-img-top-2 {
   height: 390px;
   width: 290px;
  
 }
 .card-img-top--3 {
  height: 370px;
  width: 290px;
 }
 